{% extends 'base.html.twig' %}

{% block body %}
    <h2>Learning vue.js component by component</h2>
    <ul>
        <li><a href="{{ path('default_todolist') }}">TODO List</a></li>
    </ul>
{% endblock %}