{% extends 'base.html.twig' %}

{% block body %}
    <h2>Learning vue.js component by component</h2>
    <ul>
        <li><a href="{{ path('default_todolist') }}">2019.10.09 | TODO List</a></li>
        <li><a href="{{ path('default_tictactoe') }}">2019.10.10 | TicTacToe</a></li>
        <li><a href="{{ path('default_minesweeper') }}">2019.10.14 | Minesweeper</a></li>
    </ul>
{% endblock %}